<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title layout:title-pattern="$DECORATOR_TITLE :: $CONTENT_TITLE">My Blog</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.5/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/blog_intro.css" />
</head>
<body>
<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
    <span class="">Loading ....</span>
  </div>
</div>
<!-- header(profile area)-->
<div class="wrap" style="display:none;">
<header class="container-fluid">
	<div class="row">
		<div class="header-top">
			<h3 class="intro_title">Blog Title</h3>
		</div>
	</div>	
	<div class="row">	
		<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 header-contents">		
			<div class="profile_img">
				<img src="http://blog.jinbo.net/attach/615/200937431.jpg" alt="프로필이미지" class="img-responsive img-rounded "/>	
			</div>
			<div class="hidden-xs header_slide">
				<h4>Hello</h4>
				<div class="slide_text">
					<div class="text_item">
						<h2>text1text1text1</h2>
					</div>
					<div class="text_item">
						<h2>text2text1text1</h2>
					</div>						
					<div class="text_item">
						<h2>text3text1text1</h2>
					</div>								
				</div>
			</div>
			<div class="visible-xs header_slide_xs">
				<h4>Hello</h4>
				<button id="xs_profile_btn" class="btn btn-default btn-block">profile&nbsp;<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
				<div class="slide_text_xs" style="display:none">
					<div class="text_item_xs">
						<h3>text1text1text1</h3>
					</div>
					<div class="text_item_xs">
						<h3>text2text1text1</h3>
					</div>						
					<div class="text_item_xs">
						<h3>text3text1text1</h3>
					</div>													
				</div>
			</div>				
		</div>
	</div>
</header>
<!-- nav (navigation area) -->
<nav class="navbar navbar-default navbar-inverse custom-nav">
	<div class="container">
		<div class="navbar-brand">
			<span class="glyphicon glyphicon-leaf"></span>Brand
		</div>		
		<div class="visible-xs visible-sm">
			<div class="pull-right">
				<button type="button" id="nav_btn" class="navbar-toggle">
					<span class="glyphicon glyphicon-list"></span>
				</button>
			</div>			
		</div>	
		<div class="hidden-xs">
			<ul class="nav navbar-nav" th:each="root,info :${categoryRoots} ">
				<li><a href="#" th:text="${root}" th:href="${'/blog/list/'+root}">Home</a></li>
				<li class="dropdown" th:if="${info.count == info.size}">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="#">Action</a></li>
		            <li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li>
		            <li class="divider"></li>
		            <li><a href="#">Separated link</a></li>
		            <li class="divider"></li>
		            <li><a href="#">One more separated link</a></li>
		          </ul>
		        </li>
			</ul>
			<form class="navbar-form navbar-right" role="search">
		        <div class="form-group">
		          <input type="text" class="form-control" placeholder="Search"/><button type="submit" class="btn btn-default">Submit</button>
		        </div>		        
      		</form>		
		</div>
	</div>
	<div class="stacked_nav" style="display:none;">
			<ul class="nav nav-pills nav-stacked" th:each="root,info :${categoryRoots} ">
				<li><a href="#" th:text="${root}" th:href="${'/blog/list/'+root}">Home</a></li>
				<li role="presentation" class="dropdown" th:if="${info.count == info.size}">
				    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
				      Dropdown <span class="caret"></span>
				    </a>
		            <ul class="dropdown-menu" role="menu">
			            <li><a href="#">Action</a></li>
			            <li><a href="#">Another action</a></li>
			            <li><a href="#">Something else here</a></li>
			            <li class="divider"></li>
			            <li><a href="#">Separated link</a></li>
			            <li class="divider"></li>
			            <li><a href="#">One more separated link</a></li>
		          	</ul>
		        </li>
			</ul>	
			<div class="search_sm">
        		<input type="text" placeholder="search"/><button><span class="glyphicon glyphicon-search"></span></button>
        	</div>				
		</div>
</nav>
<!-- section (contents area) -->
<section class="container" layout:fragment="section">
	<div class="row">
		<div class="col-lg-9 col-md-9">
			<div class="contents" layout:fragment="contents">
				<div class="row">
					<div class="col-lg-6 col-md-6">	
						<article>
							<img class="img-responsive center-block" src="http://www.kerry-beaches.com/images/contact-me-facebook-thumbnail.jpeg" />
							<div class="article-title">
								<h3>Title</h3>
							</div>
							<div class="article-footer">
								<span>&nbsp;2015-12-08</span>
								<span class="pull-right">
									<span class="glyphicon glyphicon-comment">0</span>
									<span class="glyphicon glyphicon-heart">0</span>
								</span>								
							</div>
						</article>
					</div>
					<div class="col-lg-6 col-md-6">	
						<article>
							<img class="img-responsive center-block" src="http://www.kerry-beaches.com/images/contact-me-facebook-thumbnail.jpeg" />
							<div class="article-title">
								<h3>Title</h3>
							</div>
							<div class="article-footer">
								<span>&nbsp;2015-12-08</span>
								<span class="pull-right">
									<span class="glyphicon glyphicon-comment">0</span>
									<span class="glyphicon glyphicon-heart">0</span>
								</span>								
							</div>
						</article>
					</div>
					<div class="col-lg-6 col-md-6">	
						<article>
							<img class="img-responsive center-block" src="http://www.kerry-beaches.com/images/contact-me-facebook-thumbnail.jpeg" />
							<div class="article-title">
								<h3>Title</h3>
							</div>
							<div class="article-footer">
								<span>&nbsp;2015-12-08</span>
								<span class="pull-right">
									<span class="glyphicon glyphicon-comment">0</span>
									<span class="glyphicon glyphicon-heart">0</span>
								</span>								
							</div>
						</article>
					</div>
					<div class="col-lg-6 col-md-6">	
						<article>
							<img class="img-responsive center-block" src="http://www.kerry-beaches.com/images/contact-me-facebook-thumbnail.jpeg" />
							<div class="article-title">
								<h3>Title</h3>
							</div>
							<div class="article-footer">
								<span>&nbsp;2015-12-08</span>
								<span class="pull-right">
									<span class="glyphicon glyphicon-comment">0</span>
									<span class="glyphicon glyphicon-heart">0</span>
								</span>								
							</div>
						</article>
					</div>
					<div class="col-lg-6 col-md-6">	
						<article>
							<img class="img-responsive center-block" src="http://www.kerry-beaches.com/images/contact-me-facebook-thumbnail.jpeg" />
							<div class="article-title">
								<h3>Title</h3>
							</div>
							<div class="article-footer">
								<span>&nbsp;2015-12-08</span>
								<span class="pull-right">
									<span class="glyphicon glyphicon-comment">0</span>
									<span class="glyphicon glyphicon-heart">0</span>
								</span>								
							</div>
						</article>
					</div>
					<div class="col-lg-6 col-md-6">	
						<article>
							<img class="img-responsive center-block" src="http://www.kerry-beaches.com/images/contact-me-facebook-thumbnail.jpeg" />
							<div class="article-title">
								<h3>Title</h3>
							</div>
							<div class="article-footer">
								<span>&nbsp;2015-12-08</span>
								<span class="pull-right">
									<span class="glyphicon glyphicon-comment">0</span>
									<span class="glyphicon glyphicon-heart">0</span>
								</span>								
							</div>
						</article>
					</div>
					<div class="col-lg-12 col-md-12">
						 <ul class="pagination">
						    <li>
						      <a href="#" aria-label="Previous">
						        <span aria-hidden="true">&laquo;</span>
						      </a>
						    </li>
						    <li><a href="#">1</a></li>
						    <li><a href="#">2</a></li>
						    <li><a href="#">3</a></li>
						    <li><a href="#">4</a></li>
						    <li><a href="#">5</a></li>
						    <li>
						      <a href="#" aria-label="Next">
						        <span aria-hidden="true">&raquo;</span>
						      </a>
						    </li>
						  </ul>
					</div>
				</div>
			</div>					
		</div>	
		<div class="col-lg-3 col-md-3">
			<aside>
				<p>Category </p> <!-- 현재 카테고리 최근 글 5개 -->
				<ul>
					<li><h4><span class="glyphicon glyphicon-console"></span>&nbsp;Category1</h4></li>
					<li><h4><span class="glyphicon glyphicon-console"></span>&nbsp;Category1</h4></li>	
					<li><h4><span class="glyphicon glyphicon-console"></span>&nbsp;Category1</h4></li>
					<li><h4><span class="glyphicon glyphicon-console"></span>&nbsp;Category1</h4></li>
					<li><h4><span class="glyphicon glyphicon-console"></span>&nbsp;Category1</h4></li>
				</ul>
			</aside>	
			<aside>
				<p>Recent Post</p> <!-- 전체 글 중 최근글 5개 -->
				<ul>
					<li><h4>Title<span class="pull-right">2015-12-08</span></h4></li>
					<li><h4>Title<span class="pull-right">2015-12-08</span></h4></li>
					<li><h4>Title<span class="pull-right">2015-12-08</span></h4></li>
					<li><h4>Title<span class="pull-right">2015-12-08</span></h4></li>
				</ul>
			</aside>
			<aside>
				<p>Recent Comment</p> <!-- 전체 댓글 중 최근댓글 5개 -->
				<ul>
					<li><h4>Title<span class="pull-right">2015-12-08</span></h4></li>
					<li><h4>Title<span class="pull-right">2015-12-08</span></h4></li>
					<li><h4>Title<span class="pull-right">2015-12-08</span></h4></li>
					<li><h4>Title<span class="pull-right">2015-12-08</span></h4></li>
				</ul>
			</aside>	
			<aside>
				<p>Links</p> <!-- 각종 사이트 링크 -->
				<ul>
					<li><h4><span class="glyphicon glyphicon-console"></span>&nbsp;Category1</h4></li>
					<li><h4><span class="glyphicon glyphicon-console"></span>&nbsp;Category1</h4></li>	
					<li><h4><span class="glyphicon glyphicon-console"></span>&nbsp;Category1</h4></li>
					<li><h4><span class="glyphicon glyphicon-console"></span>&nbsp;Category1</h4></li>
					<li><h4><span class="glyphicon glyphicon-console"></span>&nbsp;Category1</h4></li>
					<li><h4><span class="glyphicon glyphicon-console"></span>&nbsp;Category1</h4></li>	
				</ul>
			</aside>		
		</div>	
	</div>	
</section>

<footer class="container-fluid">
	<div class="footer-contents">
		<h3><span class="glyphicon glyphicon-chevron-up"></span></h3>
		<h3>블로그 개발 중</h3>
	</div>
	<div class="footer-bottom">
		<h6>Copyright © 2015 All Rights Reserved.</h6>
	</div>	
</footer>
</div>
<!-- bootstrap script -->
<script src="/webjars/jquery/2.1.4/dist/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.5/dist/js/bootstrap.min.js"></script>
<script>
	var slider
	
	$(document).ready(function(){	
		//xs 시 profile 노출 버튼
		var profile_btn = false;
		$('#xs_profile_btn').on('click',function(){
			$('.slide_text_xs').toggle('fast',function(){
				if(!profile_btn){
					$('#xs_profile_btn').html('profile&nbsp;<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>');
					profile_btn = true;
				}else{
					$('#xs_profile_btn').html('profile&nbsp;<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>');
					profile_btn = false;
				}
				
			});
		}); 
		
		//nav 노출 버튼
		$('#nav_btn').on('click',function(){
			$('.stacked_nav').slideToggle();
		});
		
		
		
		//aside hover event
		$('aside > ul > li').on('mouseenter mouseleave',function(event){
			switch(event.type){
			case('mouseenter'):
				$(this).animate({'padding-left':'15px'},'fast','swing');
				break;
			case('mouseleave'):
				$(this).animate({'padding-left':'0px'},'fast','swing');
				break;
			}
			
		});
		
		//loading event
		$('.progress').hide();
		$('.wrap').fadeIn('slow');
		
		//header slide		
		var fullSizeWidth = $(window).width();
		setSlideWidth(fullSizeWidth);	
		
		//fixed nav setting		
		var headerSizeHeight = $('header').height();
		
		$(window).resize(function(){
			fullSizeWidth = $(this).width();	
			setSlideWidth(fullSizeWidth);
			
			headerSizeHeight = $('header').height();
		});		
		
		$(window).scroll(function(){
			var curScroll = $(document).scrollTop();
			if(curScroll > headerSizeHeight){
				$('nav').addClass('navbar-fixed-top');
			}else{
				$('nav').removeClass('navbar-fixed-top');
			}
		});
	});
	
	function setSlideWidth(width){
		if(typeof(slider) != 'undefined'){
			clearInterval(slider);
		}
		//margin-left의 값이 0 이면 -아이템사이즈를 더함, 최대치이면 반대로 뺌			
		var flag = false;
		var itemSizeWidth = $('.header_slide').width();
		$('.slide_text').css('width',itemSizeWidth*3);
		$('.text_item').css('width',itemSizeWidth);
		
		slider = setInterval(function(){			
			var currentMargin = Number($('.slide_text').css('margin-left').replace('px',''));			
			var changeMargin;
			
			if((Math.abs(currentMargin)+itemSizeWidth) >= itemSizeWidth*3){	
				flag = true;
			}else if((currentMargin + itemSizeWidth) > 0){
				flag = false;
			}			
			changeMargin = (flag)? changeMargin = currentMargin + itemSizeWidth : changeMargin = currentMargin - itemSizeWidth;
			$('.slide_text').animate({'margin-left':changeMargin+'px'},'fast','swing');
		}, 2000); 
	};
	
</script>
<script layout:fragment="custom-script"></script>
</body>
</html>